@import "../../App.scss";

.contact-wrap
{
    display: flex;
    flex-direction: row;

    .left-wrap
    {
        margin-top: 50px;
        margin-left: -20px;
        height: fit-content;
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        img
        {
            width: 30vw;
            background-color: $clr-white;
        }

        .black-line
        {
            aspect-ratio: 1 / 13;
            height: auto;
            width: 2vw;
            background-color: $clr-darkgray;
        }
    }

    .right-wrap
    {
        padding: 50px 30px 0 30px;
        height: 80vh;
        width: 35%;

        .title
        {
            font-weight: 500;
        }

        .form-wrap
        {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            font-size: 20px;

            .single-line
            {
                width: 55%;
                margin: 10px 0;
            }

            .multi-line
            {
                height: 30vh;
                width: 100%;
                margin: 10px 0;
            }

            .send-btn
            {
                font-size: 20px;
                width: 100px;
            }
        }
    }
}